 <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Vùng</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/quanly/vung/danhsachvung"><i class="fa fa-circle-o"></i> Xem danh sách vùng</a></li>
        <li><a href="/quanly/vung/themvung"><i class="fa fa-circle-o"></i> Thêm vùng mới</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Loại dữ liệu</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/quanly/loaidulieu/danhsachloaidulieu"><i class="fa fa-circle-o"></i> Xem danh sách loại dữ liệu</a></li>
        <li><a href="/quanly/loaidulieu/themloaidulieu"><i class="fa fa-circle-o"></i>Thêm loại dữ liệu</a></li>
      </ul>
    </li>